// Starts 5v5 match

exec gamemode_competitive_server.cfg

tv_record _demo_latest		// Record a GOTV demo - override existing file

bot_quota 0
bot_kick
mp_restartgame 1


say "For a playout match (all 30 rounds) (rcon): playout  ."
say "> MATCH IS LIVE <"
